@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --green-text: #92f88e;
  --dark-green: #10a000;
  --mid-green: #69ce5d;
}

html{
  font-family: 'Roboto', sans-serif;
}

a{
  text-decoration: none;
}

/* NAVBAR SECTION*/

#mobile-nav {
  display: none;
}

.nav-bar {
  position: absolute;
  z-index: 2;
  width: 100%;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
  list-style: none;
  height: 7vh;
  background-color: rgba(98, 98, 98, 0.205);
}

li a{
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 1.25rem;
}

#name {
  color: var(--green-text);
  font-size: 30px;
  font-weight: bold;
}

/* HERO SECTION */

.container {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.image-container {
  position: relative;
  background-image: url(/images/header_image.jpg);
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  margin-top: 0vh;
  animation: scale 10s;
}

@keyframes scale {
  0% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.192);
  z-index: 1;
}

.hero-text {
  display: flex;
  justify-content: center;
  align-items: right;
  flex-direction: column;
  position:absolute;
  top: 50%;
  right: 10%;
  font-size: 25px;
  color: #fff;
  text-transform: uppercase;
  z-index: 2;
}

.firstWord {
  color: var(--green-text);
}

.resume-cta {
  border: 2px solid var(--green-text);
  width: 125px;
  padding: 10px;
  margin-top: 15px;
}

.resume-text {
  color: #fff;
}

.resume-cta:hover {
  background-color: rgba(0, 0, 0, 0.411);
}

/* Project Section*/

.project-container {
  width: 100%;
  height: auto;
  margin-top: 5rem;
}

.project-header {
  font-size: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.projects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: wrap;
}

  .password-generator {
    width: 500px;
    height: 500px;
    background: #FFF;
    position: relative;
    box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 50px;
    background-image: url(/images/password_generator.jpg);
    background-size: cover;
    background-position: center;
  }

  .store-website {
      width: 500px;
      height: 500px;
      background: #FFF;
      position: relative;
      box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.2);
      border-radius: 10px;
      margin: 50px;
      background-image: url(/images/holidays\ project.jpg);
      background-size: cover;
      background-position: center;
  }

  .ruby-scraping {
    width: 500px;
    height: 500px;
    background: #FFF;
    position: relative;
    box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 50px;
    background-image: url(/images/bitcon_project.jpg);
    background-size: cover;
    background-position: center;
  }

.text-container {
  position: absolute;
  height: 90px;
  width: 100%;
  z-index: 2;
  left: 0;
  bottom: 0;
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
  transition: all 400ms ease-in-out;
}

.text-container:hover {
  height: 230px;
}

.text-container:hover .content p {
  display: block;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

.name {
  margin-top: 10px;
  color: var(--dark-green);
  font-size: 1.8rem;
  text-align: center;
}

.content {
  padding: 25px, 0;
  margin: 15px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button {
  border: 1px solid black;
  width: 110px;
  padding: 10px;
  box-shadow: -10px 7px 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 50px;
  margin-left: 30px;
}

/* ABOUT SECTION */

.about-container {
  padding: 40px 10px;
  width:  100%;
  height: auto;
  margin-top: 5rem;
  background-color: #f8f8f8f5;
}

.about-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: wrap;
}

.about-image {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background-image: url(/images/me.jpg);
  background-size: cover;
  background-position: center;
  box-shadow: -10px 7px 10px rgba(0, 0, 0, 0.3);
}

.about-text {
  height: auto;
  width: 51%;
  font-size: 1.5rem;
  margin-left: 100px;
  border-radius: 20px;
  line-height: 2em;
  padding: 50px 50px;
  box-shadow: 1px 7px 10px rgba(0, 0, 0, 0.3);
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
  width: 20%;
  margin: 5% 40%;
  padding-top: 30px;
}

.social-icons:hover {
  transform: scale(1.2)
  }

/* MOBILE VIEW */

@media (max-width: 768px) {
  #nav {
    display: none;
  }

  #mobile-nav {
    display: block;
  }

  .mobile-nav-bar {
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 5;
  }

  ul {
    background-color: rgba(0, 0, 0, 0.616);
  }

  .hero-text {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    position:absolute;
    top: 40%;
    left: 10%;
    font-size: 25px;
    color: #fff;
    text-transform: uppercase;
    z-index: 2;
  }

  .about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    margin-top: 5rem;
    background-color: #f8f8f8;
  }
  
  .about-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
  }
  
  .about-image {
    margin-top: 20px;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-image: url(/images/me.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: -10px 7px 10px rgba(0, 0, 0, 0.3);
  }
  
  .about-text {
    margin-left: 20px;
    width: 100%;
    font-size: 1.25rem;
  }
  
  .social-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
    width: 30%;
    margin: 5% 35%;
    padding-top: 30px;
  }
}